RUNTIME_ENVIRONMENT=cloud
RUNTIME_REGION=us-south
WML_SERVICE_URL=https://us-south.ml.cloud.ibm.com
IBM_API_KEY=<ibm-iam-api-key>
PROJECT_ID=<ibm-project-id>

IBM_IAM_URL=https://iam.cloud.ibm.com/identity/token
RUNTIME_ENV_APSX_URL=https://api.dataplatform.cloud.ibm.com
USER_ACCESS_TOKEN=""

# RAG_parameter_set
RAG_VECTORSEARCH_TOP_N_RESULTS=5
RAG_ES_NUMBER_OF_SHARDS=1
RAG_ES_MIN_SCORE=10
RAG_INCLUDE_ALL_HTML_TAGS=False
RAG_VECTOR_STORE_INDEX_NAME=watsonx_ai_docs_index
RAG_WATSONX_AI_API_KEY=<ibm-iam-api-key>
RAG_ELASTIC_SEARCH_TEMPLATE_FILE=""
RAG_WATSONX_PROJECT_ID=<ibm-watsonx-project-id>
RAG_WATSONX_URL=https://us-south.ml.cloud.ibm.com
RAG_WATSONX_DEPLOYMENT_ID=<ibm-watsonx-deployment-id>
RAG_WATSONX_SPACE_ID=<ibm-watsonx-space-id>
RAG_WATSONX_MIN_TOKENS=1
RAG_WATSONX_MAX_TOKENS=512
ASTRADB_SCB_ZIP_FILENAME=""
#CONNECTION_NAME=milvus_connect
CONNECTION_NAME=opensearch_connect


# RAG_advanced_parameter_set
RAG_ADV_MILVUS_EMBEDDING_MODEL_ID=intfloat/multilingual-e5-large
RAG_ADV_MILVUS_HYBRID_SEARCH=false
RAG_ADV_MILVUS_RERANKER=""
RAG_ADV_ELASTIC_SEARCH_MODEL_ID=.elser_model_2_linux-x86_64
RAG_ADV_ELASTIC_SEARCH_VECTOR_TYPE=sparse
RAG_ADV_CHUNK_SIZE=256
RAG_ADV_CHUNK_OVERLAP=128
RAG_ADV_INDEX_CHUNK_SIZE=256

# Milvus parameters
MILVUS_HOST=<milvus-host>
MILVUS_PORT=<milvus-port>
MILVUS_USER=ibmlhapikey_<username>
MILVUS_PASSWORD=<ibm-api-key>
MILVUS_DATABASE=<milvus-database-name>
MILVUS_SSL=true
MILVUS_SSL_CERTIFICATE=<milvus-ssl-certificate-path>

# OpenSearch parameters
OPENSEARCH_HOST=your-host.com
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=your-password
OPENSEARCH_USE_SSL=true
OPENSEARCH_VERIFY_CERTS=false
OPENSEARCH_CA_CERTS=/path/to/ca.pem 


SERVER_URL=http://0.0.0.0:8080
ALLOWED_ORIGINS="*"
COS_SERVICE_INSTANCE_ID=""
COS_ENDPOINT=https://s3.us-south.cloud-object-storage.appdomain.cloud
IBM_CLOUD_API_KEY=<ibm-iam-api-key>

# Logging
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s