
- name: Wait for Postgres pod
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ namespace }}"
    label_selectors:
      - app=postgres
  register: pg_pods
  until: pg_pods.resources | length > 0
  retries: 20
  delay: 10

- name: Initialize database
  kubernetes.core.k8s_exec:
    namespace: "{{ namespace }}"
    pod: "{{ pg_pods.resources[0].metadata.name }}"
    command:
      - psql
      - -U
      - "{{ postgres.user }}"
      - -d
      - "{{ postgres.db }}"
      - -c
      - "CREATE TABLE IF NOT EXISTS products(id SERIAL PRIMARY KEY, name TEXT);"
