
- name: Create namespace
  kubernetes.core.k8s:
    kind: Namespace
    name: "{{ namespace }}"
    state: present

- name: Create Docker registry secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: regcred
        namespace: "{{ namespace }}"
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: >-
          {{ {
            "auths": {
              docker_registry: {
                "username": docker_username,
                "password": docker_password,
                "auth": (docker_username ~ ':' ~ docker_password) | b64encode
              }
            }
          } | to_json | b64encode }}
