
apiVersion: apps/v1
kind: Deployment
metadata:
  name: retail-frontend
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: frontend
          image: {{ images.frontend }}
