RUNTIME_ENVIRONMENT = "cloud"
RUNTIME_REGION = "us-south"
WML_SERVICE_URL = "https://us-south.ml.cloud.ibm.com"
IBM_API_KEY = ""
PROJECT_ID = ""
IBM_IAM_URL="https://iam.cloud.ibm.com/identity/token"
RUNTIME_ENV_APSX_URL="https://api.dataplatform.cloud.ibm.com"
USER_ACCESS_TOKEN=""

# RAG_parameter_set
RAG_VECTORSEARCH_TOP_N_RESULTS = 5
RAG_ES_NUMBER_OF_SHARDS = 1
RAG_ES_MIN_SCORE = 10
RAG_INCLUDE_ALL_HTML_TAGS = "False"


RAG_WATSONX_AI_API_KEY = ""
RAG_ELASTIC_SEARCH_TEMPLATE_FILE = ""
RAG_WATSONX_PROJECT_ID=""
RAG_WATSONX_URL=""
RAG_WATSONX_DEPLOYMENT_ID=""
RAG_WATSONX_SPACE_ID=""
RAG_WATSONX_MIN_TOKENS=1
RAG_WATSONX_MAX_TOKENS=512
ASTRADB_SCB_ZIP_FILENAME = ""
CONNECTION_NAME = ""


# RAG_advanced_parameter_set
RAG_ADV_MILVUS_EMBEDDING_MODEL_ID = ""
RAG_ADV_MILVUS_HYBRID_SEARCH = "True"
RAG_ADV_MILVUS_RERANKER = ""
RAG_ADV_ELASTIC_SEARCH_MODEL_ID = ""
RAG_ADV_ELASTIC_SEARCH_VECTOR_TYPE = "sparse"
RAG_ADV_CHUNK_SIZE = 256
RAG_ADV_CHUNK_OVERLAP = 128
RAG_ADV_INDEX_CHUNK_SIZE = 5

SERVER_URL="http://localhost:4050"
ALLOWED_ORIGINS="*"

COS_SERVICE_INSTANCE_ID = ""
COS_ENDPOINT = ""
IBM_CLOUD_API_KEY = ""

# Logging
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s

