
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ namespace }}
stringData:
  POSTGRES_USER: {{ postgres.user }}
  POSTGRES_PASSWORD: {{ postgres.password }}
  POSTGRES_DB: {{ postgres.db }}
